*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.container-contact-us{
    width: 100%;
    height: 60vh;
}

.bg_img-contact-us{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("image/jeans_2.jpg");
  background-position: center;
  background-size: cover;
}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
  border-bottom: 1em;

}

nav{
  flex: 1;
  text-align: right;
  padding-top: 5%;
}

.navbar ul{
  display: flex;
  align-items: flex-start;
  justify-content: right;
  gap: 5%;
  margin-right: 5%;
}

.navbar li{
  list-style-type: none;
  display: inline-block;
  margin-left: 40px ;
}

.navbar a{
    margin-top: 110px;
  color: white;
  text-decoration: none;
}

.logo{
  padding-top: 5%;
  width: 150px;
  cursor: pointer;
}

.title{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #ffffff; /* Set the text color you want */
    padding: 20px 40px; /* Adjust padding as needed */
    border-radius: 5px;
}

.contact-us-section{
  display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

table{
  border-radius: 20px;
  border: black;
}

.footer_bg{
    height: 50vh;
    background-color: black;
  }

  .title-section{
    margin-top: 50px;
    text-align: center;
  }

  .title-section h2{
    font-size: 30px;
  }

  .form-section{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    background-color: white; 
  }

  .form-section{
    max-width: 850px;
    display: grid;
  }

  footer{
    background: black;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0px;
  }
  
  footer .f-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-gap: 5px;
  }
  
  .footer-center, .footer-right{
    padding-top: 50px;
  }
  
  footer h2{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  footer h2::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 150px;
    height: 2px;
    background-color: white;
  }
  
  footer li{
    list-style-type: none;
  }
  
  .footer-left{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .footer-left img{
    margin: auto;
    width: 300px;
    height: 300px;
  }
  
  .footer-center li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
  }
  
  .footer-center li a:hover{
    color: lightblue;
  }
  
  .icon{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 20px;
  }
  
  .icon li{
    list-style-type: none;
  }
  
  .icon li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: grey;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 40%;
  }
  
  .icon li a img{
    width: 30px;
    height: 30px;
  }
  
  .icon li a:hover{
    background: lightblue;
  }
  
  .copyright{
    width: 100%;
    background: rgb(27, 27, 27);
    padding: 8px 0px;
    text-align: center;
    color: white;
  }
