* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior:smooth;
}

.container {
  width: 100%;
  height: 100vh;
}

.bg_img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("image/background2.jpg");
  background-position: center;
  background-size: cover;
}

.bg_img2 {
  background-image: linear-gradient(rgba(232, 232, 232, 0.5), rgba(227, 227, 227, 0.5)), url("image/background3.jpg");
  background-position: center;
  background-size: cover;
}

.bg_img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("image/denim_outer_3.jpg");
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 180px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
  size: 25px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: lightblue;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.header-text{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  margin-top: 10px;
}

.header-text h1{
  font-size: 150px;
  margin: 10px;
}

.header-text p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.header-button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 30px auto;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid lightblue;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.header-button a{
  text-decoration: none;
  color: white;
}

.header-button:hover{
  background: lightblue;
}

.landing {
  display: flex;
  height: 100%;
  align-items: center;
}

.landing-left {
  flex-basis: 50%;
}

.landing .text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.landing .text h1 {
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.explore-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 50px;
}

.explore {
  width: 150px;
  text-align: center;
  font-size: larger;
  background-color: lightblue;
  border-radius: 30px;
  border: 2px solid black;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.landing .image {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.shop-button{
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.shop-button button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: transparent;
  height: 50%;
}

.shop-button button:hover{
  color: black;
  background-color: lightblue;
}



.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  box-shadow: 3px 3px 5px 3px #888888;
}

.card h4 {
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 0 0 5px #949494;
}

.card1 {
  background-image: url(image/background.jpeg);
}

.card2 {
  background-image: url(image/denim_family.jpg);
}

.card3 {
  background-image: url(image/jeans_3.jpg);
}

.card4 {
  background-image: url(image/denim_jacket.jpg);
}

.card5 {
  background-image: url(image/denim_ripped.jpg);
}

.card6 {
  background-image: url(image/denim_skirt.jpg);
}


.card:hover {
  transform: translateY(-10px);
}

footer {
  background: black;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0px;
}

footer .f-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-gap: 5px;
}

.footer-center,
.footer-right {
  padding-top: 50px;
}

footer h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

footer h2::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 150px;
  height: 2px;
  background-color: white;
}

footer li {
  list-style-type: none;
}

.footer-left {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-left img {
  margin: auto;
  width: 300px;
  height: 300px;
}

.footer-center li a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
}

.footer-center li a:hover {
  color: lightblue;
}

.icon {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 20px;
}

.icon li {
  list-style-type: none;
}

.icon li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: grey;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 40%;
}

.icon li a img {
  width: 30px;
  height: 30px;
}

.icon li a:hover {
  background: lightblue;
}

.copyright {
  width: 100%;
  background: rgb(27, 27, 27);
  padding: 8px 0px;
  text-align: center;
  color: white;
}