*{
  background-color: aliceblue;
}

.navbar{
  display: flex;
  align-items: flex-start;
  gap: 5%;
  justify-content: right;
  margin-right: 5%;
  padding-top: 2%;
}

.navbar li{
  list-style-type: none;
}

.navbar a{
  text-decoration: none;
}